[build]
builder = "nixpacks"
buildCommand = "composer install --no-dev --optimize-autoloader"

[deploy]
startCommand = "php artisan key:generate && php artisan migrate --force && php -S 0.0.0.0:$PORT -t public"

[env]
APP_NAME = "Caderno de Erros"
APP_ENV = "production"
APP_KEY = ""
APP_DEBUG = "false"
APP_URL = "https://caderno-de-erros-production.up.railway.app"
DB_CONNECTION = "mysql"
DB_FOREIGN_KEYS = "true"
